<div class="h-100">
  <div class="my-5">
    <div class="mx-auto w-25 " style="max-width:100%;">
      <h2 class="text-center mb-3">Add User</h2>
      <form [formGroup]="form" (ngSubmit)="addUser()">
        <!--name-->
        <div class="row">
          <div class="col-md-12 form-group mb-3">
            <label for="name" class="form-label">Name</label>
            <input id="name"  formControlName="name" type="text" name="name" class="form-control" placeholder="Name" required>
          </div>
        </div>
        <!--Email-->
        <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label for="email" class="form-label">Email</label>
              <input id="email" type="email"  formControlName="email" name="email" class="form-control" placeholder="email" required>
            </div>
          </div>
        <!--password-->
        <div class="row">
          <div class="col-md-12 form-group mb-3">
            <label for="password" class="form-label">Contrasena</label>
            <input id="password"  formControlName="password" type="password" name="password" class="form-control" placeholder="password" required>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 form-group">
            <input [disabled]="!form.valid" class="btn btn-primary w-100" type="submit" value="Submit">
          </div>
        </div>
        <div>
        </div>
      </form>
     </div>
  </div>


 <!-- <div class="d-flex h-100 align-items-center text-center animated fadeIn"> -->
   <!-- <div class="account-box"> -->
     <!-- <div class="account-wrapper"> -->
       <!-- <h3 class="account-title">Register</h3> -->
       <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()" style="text-align: left;"> -->
        <!-- <form style="text-align: left;"> -->
         <!-- <div class="form-group field-required"> -->
           <!-- <label>Email</label> -->
           <!-- <input formControlName="email" class="form-control" type="email"> -->
         <!-- </div> -->
         <!-- <div class="form-group field-required"> -->
           <!-- <label>First name</label> -->
           <!-- <input formControlName="firstName" class="form-control" type="text"> -->
         <!-- </div> -->
         <!-- <div class="form-group field-required"> -->
           <!-- <label>Last name</label> -->
           <!-- <input formControlName="lastName" class="form-control" type="text"> -->
         <!-- </div> -->
         <!-- <div class="form-group field-required" formGroupName="passwords"> -->
           <!-- <label>Password</label> -->
           <!-- <input formControlName="password" class="form-control" type="password"> -->
         <!-- </div> -->
         <!-- <div class="form-group field-required mb-4" formGroupName="passwords"> -->
           <!-- <label>Confirm password</label> -->
           <!-- <input formControlName="confirmPassword" class="form-control" type="password"> -->
         <!-- </div> -->
         <!-- <div class="form-group text-center"> -->
           <!-- <button class="btn btn-primary account-btn" type="submit" [routerLink]="['/account', 'login']">Register</button> -->
         <!-- </div> -->
         <!-- <div class="account-footer"> -->
           <!-- <p>Already have an account?</p><a [routerLink]="['/account/login']">Login</a> -->
         <!-- </div> -->
       <!-- </form> -->
 <!-- </div> -->
</div>


