/* Variables */
:root {
	--theme-color: #5ae0b1;
  --theme-color-alt: #48a987;
  
  --theme-control-background: #cbcda2;
  --theme-background: #e2e4bb;
  --theme-background-alt: #e2e4bb;

  --theme-foreground: #333;
  --theme-foreground-alt: #e2e4bb;
  --theme-foreground-highlight: #626262;

  /* Calendar */
  --fc-today-bg-color: #e2e4bb;
}